
/* Admin paneli stilleri */
.admin-panel {
  padding: 20px;
  max-width: 100%;
  height: auto;
  margin:  auto;
background: rgb(17,24,39);

}

/* Sayfalama stilleri */
.pagination {
  margin-top: 20px;
}
h2{
  color: #ffffff;
  font-size:18px!important;
}
.pagination button {
  background-color: #d3d3d3;
  border: 1px solid #ddd;
  color: #555;
  padding: 5px 15px;
  margin-right: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.pagination button:hover {
  background-color: #f0f0f0;
}

.pagination button.active {
  background-color: #1d336a;
  color: #fff;
}


/* Tablo stilleri */
table {
  background-color:rgba(58, 73, 94, 0.822);
  border-radius: 10px !important;
}

.admin-panel h1 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.add-button {
  margin-bottom: 10px;
  padding: 8px 16px;
  background-color: #00418b;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.5s all;

  
}
.add-button:hover{
  background-color: #025fc9;
  transition: 0.5s all;
  
}

/* Modal stilleri */
.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-y: auto; /* İçeriğin ekran boyutuna göre kaydırılmasını sağlar */
}

.modal-content {
  /* /* background-color: #1b4563; */
/* background: rgb(26, 39, 67); */
background-color: #f8f5f5;
   
  margin: auto;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 1000px;
  position: relative;
  /* color:white; */
}

.close {
  color: #e60909;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Ürün tablosu stilleri */
.product-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  
}

.product-table th,
.product-table td {
  /* border: 0.1px solid #d2dbdb; */
  
  
  padding: 8px;
}

.product-table th {
  background-color:#012347;
  text-align: center;
  color:white;
 

}
tr:nth-child(even) {
 
  background-color:rgb(30, 43, 61);

}
.product-table tr{
  text-align: center;
  
  font-weight:500;
  color:rgb(212, 210, 210);
}

.product-image {
  margin: auto;
  max-width: 100px;
  height: auto;
}

/* Buton konteyneri stilleri */
.button-container {
  margin-top: 20px;
  text-align: right;
}

.cancel-button,
.add-update-button,
.apply-button,
.edit-button,
.delete-button {
  padding: 8px 16px;
  margin-right: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

.cancel-button {
  background-color: #dc3545 !important;
  color: #fff;
}

.cancel-button:hover {
  background-color: #c82333;
}

.add-update-button {
  background-color: #007bff !important;
  color: #fff;
}

.add-update-button:hover {
  background-color: #06407e;
}

.apply-button {
  background-color: #28a745;
  color: #fff;
}

.apply-button:hover {
  background-color: #218838;
}

.edit-button {
  background-color: #02264d;
  color: #fff;
}

.edit-button:hover {
  background-color: #020415;
}

.delete-button {
  background-color: #dc3545;
  color: #fff;
}

.delete-button:hover {
  background-color: #c82333;
}

/* Giriş alanı stilleri */
.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  flex-wrap: wrap;
}

.label {
  font-weight: bold;
  margin-bottom: 5px;
}
.main-cover{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}
.flex0{
  width:50%;
  /* background-color: #007bff; */
}
.input-field {
  width: 400px;
  padding: 10px;
  color: #000;
  border-radius: 4px;
  border: 1px solid #000;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.checkbox-input {
  margin-right: 5px;
  vertical-align: middle;
  background-color: #0056b3;
}
/* Küçük cihazlar için */
@media screen and (max-width: 600px) {
  .product-table th,
  .product-table td {
    font-size: 12px;
  }

  .input-field {
    width: 100%;
  }
}

/* Orta büyüklükteki cihazlar için */
@media screen and (min-width: 601px) and (max-width: 1024px) {
 
  .product-table th,
  .product-table td {
    font-size: 14px;
  }

  .input-field {
    width: 300px;
  }
}

/* Büyük cihazlar için */
@media screen and (min-width: 1025px) {
  .product-table th,
  .product-table td {
    font-size: 16px;
  }

  .input-field {
    width: 400px;
  }
}
